@model IEnumerable<OnlineEducationSystem.Models.Faculty>

@{
    ViewBag.Title = "GetFaculty";
}

<h2>GetFaculty</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FBranch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>

        </tr>
    }

</table>

<br />
<br />
<p><a class="btn btn-default" href="~/Home/Index">Back To Home Page</a></p>
